.addUserForm input:not([type="checkbox"]),
textarea,
button {
    width: 90%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    outline: none;
    background-color: #004d40;
    color: #ffffff;
    font-size: 15px;
}

.addUserForm input[type="checkbox"] {
    margin: 10px;
}

.addUserForm input::placeholder {
    color: #d8d8d8;
}

.addUserForm textarea {
    resize: none;
    text-overflow: hidden;
}

.addUserForm button {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

.addUserForm button:hover {
    transform: scale(1.1);
}

.user form {
    margin-top: 20px;
}

.user form button:hover {
    transform: scale(1.02);
}